{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞For-Contact📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact . </p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Navaneeta M</h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm Navaneeta M. I’m currently pursuing my Bachelor’s in Computer Science Engineering with specilization in Artificial Intelligence and Machine Learning . I’m deeply involved in exploring the latest in Large Language Models and generative AI.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:navaneeta3005@gmail.com'><img
                        src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" height="40" width="40"></a> :
                navaneeta3005@gmail.com<br><br>
                <a target="_blank" href='https://github.com/navaneetamurugesan'><img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40" width="40"></a> :
                navaneetamurugesan<br><br>
            </div>
        </div>
    </div>

   
{% endblock body %}

